body{
    width: 100%;
    height: auto;
    float: left;
   
}
.infoCompany{
	width: 100%;
	margin-top: 50px;
	float: left;

}
.materials{
	width: 100%;
	
	float: left;
	margin-top: 20px;


}
.materials .leftMaterials{
	width: 42%;
	float: left;

}
.materials .rightMaterials{
	width: 58%;
	float: left;
	margin-left: 10px;

	background-color: #AC7F46;
}
.production{
	width: 100%;
	float: left;
}
/* screen < 480 is smart phone */
@media screen and (max-width: 480px) and (min-width: 280px){

	.infoCompany .promtionCompany{
		width: 100%;	
	

	}
	.materials h3{
		text-align: left;
		float: left;
		font: normal normal normal 10px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		
	}
	.materials .cardMaterial{
		max-width: 100%;
		opacity: 1;
		height: 180px;
		

		
		
	}
	.materials .materialsPromotion{
		width: 100%;
		opacity: 1;
		height: 180px;
		
	
	}

	.materials #content{
		/*margin-right: 40px;*/
		padding-top: 20px;

	}
	.materials #content p{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		text-align: left;
		font: italic normal bold 10px/20px Sitka Small;
		letter-spacing: 0.06px;
		color: #FBF4EA;
		opacity: 1;
		height: 180px;
		width: 100%;
		
		
		padding: 20px;
		
		
	}
	.materials .flyWood{
/*	
		width: 30%;
		background: #111010 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		opacity: 1;
	
		position: relative;
		top: -60px;
		left: 280px;
*/
	}
	.materials .flyWood p{
		color: white;
		text-align: center;
		padding: 10px;

	

		font: italic normal bold 30px Sitka Small;
		letter-spacing: 1.26px;
		color: #FBF4EA;
		opacity: 1;

	}
	.materials .components{
		padding-top: 20px;
		padding-bottom: 20px;
		
	}

	.materials #para{

		padding: 20px;

		border:1px solid black;
		text-align: left;
		font: normal normal normal 10px/20px Sitka Small;
		letter-spacing: 0.06px;
		color: #0F0A03;
		opacity: 1;

		
	}
	.production h3{
		text-align: left;
		float: left;
		font: normal normal normal 10px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		top: -30px;

	}
	.production .card{
		margin-bottom: 50px;
		max-width: 100%;
		height: 200px;
	}

	.production img{
		width: 100%;
		height: 200px;


	}

}
@media screen and (max-width: 575px) and (min-width: 480px){


	.infoCompany .promtionCompany{
		width: 100%;	
		padding-left: 3px;
	}
	.materials h3{
		text-align: left;
		float: left;
		font: normal normal normal 15px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		padding-left: 5px;

	}
	.materials .cardMaterial{
		max-width: 100%;
		opacity: 1;
		height: 250px;
	
		
	}
	.materials .materialsPromotion{
		width: 100%;
		opacity: 1;
		height: 250px;
		
	
	}

	.materials #content{
		/*margin-right: 40px;*/
		padding-top: 30px;


	}
	.materials #content p{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		text-align: left;
		font: italic normal bold 15px/25px Sitka Small;
		letter-spacing: 0.06px;
		color: #FBF4EA;
		opacity: 1;
		height: 200px;
		width: 100%;
		
		
		padding: 20px;
		
		
	}
	.materials .flyWood{
/*	
		width: 30%;
		background: #111010 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		opacity: 1;
	
		position: relative;
		top: -60px;
		left: 280px;
*/
	}
	.materials .flyWood p{
		color: white;
		text-align: center;
		padding: 10px;

	

		font: italic normal bold 30px Sitka Small;
		letter-spacing: 1.26px;
		color: #FBF4EA;
		opacity: 1;

	}
	.materials .components{
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 5px;

		
	}

	.materials #para{

		padding: 20px;

		border:1px solid black;
		text-align: left;
		font: normal normal normal 15px/25px Sitka Small;
		letter-spacing: 0.06px;
		color: #0F0A03;
		opacity: 1;


		
	}
	.production h3{
		text-align: left;
		float: left;
		font: normal normal normal 15px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		padding-left: 5px;
		position: relative;
		top: -20px;
	}
	.production .card{
		margin-bottom: 30px;
		max-width: 100%;
		height: 300px;

	}
	.production .productionRow{
		padding-left: 5px;
	}

	.production img{
		width: 100%;
		height: 300px;



	}


}

@media screen and (max-width: 768px) and (min-width: 576px){

	.infoCompany .promtionCompany{
		width: 100%;	
		padding-left: 22px;
		padding-right: 50px;

	}
	.materials h3{
		text-align: left;
		float: left;
		font: normal normal normal 15px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		padding-left: 10px;

	}
	.materials .cardMaterial{
		max-width: 100%;
		opacity: 1;
		height: 200px;
		

		
		
	}
	.materials .materialsPromotion{
		width: 100%;
		opacity: 1;
		height: 200px;
		
	
	}

	.materials #content{
		/*margin-right: 40px;*/

		position: relative;
		right: 40px;
	}
	.materials #content p{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		text-align: left;
		font: italic normal bold 10px/25px Sitka Small;
		letter-spacing: 0.06px;
		color: #FBF4EA;
		opacity: 1;
		height: 200px;
		width: 110%;
		
		
		padding: 20px;
		
		
	}
	.materials .flyWood{
/*	
		width: 30%;
		background: #111010 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		opacity: 1;
	
		position: relative;
		top: -60px;
		left: 280px;
*/
	}
	.materials .flyWood p{
		color: white;
		text-align: center;
		padding: 10px;

	

		font: italic normal bold 30px Sitka Small;
		letter-spacing: 1.26px;
		color: #FBF4EA;
		opacity: 1;

	}
	.materials .components{
		padding-top: 10px;
		padding-bottom: 10px;
		padding: 10px;

	}

	.materials #para{

		padding: 20px;

		border:1px solid black;
		text-align: left;
		font: normal normal normal 10px/20px Sitka Small;
		letter-spacing: 0.06px;
		color: #0F0A03;
		opacity: 1;

		
	}
	.production h3{
		text-align: left;
		float: left;
		font: italic normal bold 15px/40px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		left: 17px;

	}
	.production .productionRow{
		margin-top: 50px
		margin-bottom : 50px;
	}

	.production img{
		width: 100%;


	}


}

@media screen and (max-width: 1200px) and (min-width: 768px) {
	.infoCompany{
		margin-bottom: 30px;
	}

	.infoCompany .promtionCompany{
		width: 100%;
		padding-left: 12%;
		padding-right: 12%;
	}
	.materials h3{
		text-align: left;
		float: left;
		font: normal normal normal 25px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		left: 17px;
	}
	.materials .cardMaterial{
		max-width: 95%;
		opacity: 1;
		height: 300px;

		
		
	}
	.materials .materialsPromotion{
		width: 100%;
		opacity: 1;
		height: 300px;

	

	
	}
	.materials .components{
		padding: 30px;
	}

	.materials #content{
		
		position: relative;
		right: 30px;

	}
	.materials #content p{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		text-align: left;
		font: italic normal bold 15px/25px Sitka Small;
		letter-spacing: 0.06px;
		color: #FBF4EA;
		opacity: 1;
	
		width: 100%;
		padding: 42px;
		height: 300px;

		
		
	}
	.materials .flyWood{
/*	
		width: 30%;
		background: #111010 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		opacity: 1;
	
		position: relative;
		top: -60px;
		left: 280px;
*/
	}
	.materials .flyWood p{
		color: white;
		text-align: center;
		padding: 10px;
	

		font: italic normal bold 30px Sitka Small;
		letter-spacing: 1.26px;
		color: #FBF4EA;
		opacity: 1;

	}
	.materials #para{

		padding: 40px;

		border:1px solid black;
		text-align: left;
		font: normal normal normal 25px/40px Sitka Small;
		letter-spacing: 0.06px;
		color: #0F0A03;
		opacity: 1;
		width: 93%;
	}
	.production h3{
		text-align: left;
		float: left;
		font: normal normal normal 40px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		left: 17px;

	}
	.production .productionRow{
		padding: 80px;
	}

	.production img{
		width: 100%;


	}
	


}
@media screen and (max-width: 1740px) and (min-width: 1200px){
	.infoCompany{
		margin-bottom: 30px;
	}

	.infoCompany .promtionCompany{
		width: 100%;
		padding-left: 12%;
		padding-right: 12%;
	}
	.materials h3{
		text-align: left;
		float: left;
		font: normal normal normal 40px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		left: 17px;
	}
	.materials .materialsPromotion{
		width: 100%;
		opacity: 1;
		height: 100%;

	
	}
	.materials .components{
		padding: 30px;
	}
	.materials .cardMaterial{
		

		max-width: 100%;
		opacity: 1;
		
		height: 100%;

	}
	.materials #content{

		position: relative;
		right: 15px;
	}
	.materials #content p{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		text-align: left;
		font: italic normal bold 25px/42px Sitka Small;
		letter-spacing: 0.06px;
		color: #FBF4EA;
		opacity: 1;
		width: 94.5%;
		padding: 70px;
		height: 100%;
		
	}
	.materials .flyWood{
	
		width: 30%;
		background: #111010 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		opacity: 1;
	
		position: relative;
		top: -60px;
		left: 280px;

	}
	.materials .flyWood p{
		color: white;
		text-align: center;
		padding: 10px;
	

		font: italic normal bold 30px Sitka Small;
		letter-spacing: 1.26px;
		color: #FBF4EA;
		opacity: 1;

	}
	.materials #para{

		padding: 40px;

		border:1px solid black;
		text-align: left;
		font: normal normal normal 30px/60px Sitka Small;
		letter-spacing: 0.06px;
		color: #0F0A03;
		opacity: 1;
		width: 95.5%;
	}
	.production h3{
		text-align: left;
		float: left;
		font: normal normal normal 40px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		left: 17px;

	}
	.production .productionRow{
		padding: 100px;
	}

	.production img{
		width: 100%;


	}
	

	
	
}
@media screen and (min-width: 1740px) {
	.infoCompany{
		margin-bottom: 30px;
	}

	.infoCompany .promtionCompany{
		width: 100%;

		padding-left: 10%;
		padding-right: 10%;
		position: relative;	
	}
	.materials h3{
		text-align: left;
		float: left;
		font: normal normal normal 40px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		left: 17px;

		
	}
	.materials .materialsPromotion{
		width: 100%;
		opacity: 1;
		height: 100%;

	
	}
	.materials .components{
		padding: 30px;
	}
	.materials .cardMaterial{
		

		max-width: 100%;
		opacity: 1;
		
		height: 100%;

	}
	.materials #content{

		position: relative;
		right: 15px;
	}
	.materials #content p{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		text-align: left;
		font: italic normal bold 35px/50px Sitka Small;
		letter-spacing: 0.06px;
		color: #FBF4EA;
		opacity: 1;
		width: 90%;
		padding: 80px;
		height: 100%;
		
	}
/*	.materials .flyWood{
	
		width: 30%;
		background: #111010 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		opacity: 1;
	
		position: relative;
		top: -60px;
		left: 280px;

	}
	.materials .flyWood p{
		color: white;
		text-align: center;
		padding: 10px;
	

		font: italic normal bold 30px Sitka Small;
		letter-spacing: 1.26px;
		color: #FBF4EA;
		opacity: 1;

	}*/
	.materials #para{

		padding: 40px;

		border:1px solid black;
		text-align: left;
		font: normal normal normal 30px/60px Sitka Small;
		letter-spacing: 0.06px;
		color: #0F0A03;
		opacity: 1;
		width: 93.5%;
	}
	.production h3{
		text-align: left;
		float: left;
		font: normal normal normal 40px/58px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		position: relative;
		left: 31px;

		
	}
	.production .productionRow{
		padding-right: 200px;
		padding-left: 200px;
		padding-bottom: 50px;
	}

	.production img{
		width: 100%;
	


	}
	
	
}