body{
    width: 100%;
    height: auto;
    float: left;
   
}
.menu{
	width: 100%;
	height: auto;
	float: left;

}
.menuLeft{
	width: 15%;
	height: auto;
	float: left;
}
.menuRight{
	width: 85%;
	height: auto;
	float: left;
}
.adCompany{
	width: 100%;
	height: auto;
	float: left;

}
.topProduct{
	width: 100%;
	float: left;

}
.sale{
	width: 100%;
	float: left;
}
.adCompany .leftAdCompany{
	width: 33%;
	float: left;

}
.adCompany .rightAdCompany{
		width: 67%;
		float: left;
		
}	
.Cert{
	float: left;
	width: 100%;
}
.leftAdCompany #slogan{
	margin-left: 15px;
	margin-right: 10px;
}
.leftAdCompany .businessCustomer{
	margin-left: 15px;
	margin-right: 10px;
}
/* screen < 480 is smart phone */
@media screen and (max-width: 400px) {

	.leftAdCompany #slogan{
		text-align: left;	

		border: 1px #AC7F46;
		
	
		padding-top: 90px;

		font: normal normal normal 10px/10px Sitka Small;

		color: #8e7860;
		opacity: 1;	
	}
	.leftAdCompany .businessCustomer{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AA8803;
		opacity: 1;	
	
		text-align: center;
		color: white;

		font-size: 10px;
	}

	.rightAdCompany img{
		width: 100%;
		height: 200px;

	}
	.Cert p{
		text-align: center;
		font: normal normal normal 15px/15px Rockwell;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
	
		position: relative;
		top: 5px;
		
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		opacity: 1;
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
		top: 15px;

	}

	.topProduct h3{
	
		font: normal normal normal 12px/40px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		text-align: left;
		
	}
	.topProduct .productsImg{
		text-align: center;
		margin-left: 10px;
		
	}
	.topProduct .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 15px/8px Sitka Small;
	}
	.topProduct img{
		width: 100%;
		height: 220px;
		
		

	}
	.topProduct .seeMoreProduct p{
		text-align: center;
	
		font: normal normal normal 15px/20px Sitka Small;
	}


	.sale h3{
		text-align: left;
		font: normal normal normal 15px/30px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
	}

	.sale #salePromote{
		
		width: 100%;
		height: 5rem;
		margin-bottom: 25px;

	}
	.sale .saleImgPromote{
	
		text-align: center;
		
	}
	.sale .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 15px/8px Sitka Small;
	}
	.sale .saleImg {
		width: 100%;
		height: 220px;
	}

}
@media screen and (max-width: 575px) and (min-width: 400px){

	.leftAdCompany #slogan{
		text-align: left;	

		border: 1px #AC7F46;
		
	
		padding-top: 90px;

		font: normal normal normal 10px/10px Sitka Small;

		color: #8e7860;
		opacity: 1;	
	}
	.leftAdCompany .businessCustomer{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AA8803;
		opacity: 1;	
	
		text-align: center;
		color: white;

		font-size: 10px;
	}

	.rightAdCompany img{
		width: 100%;
		height: 200px;

	}
	.Cert p{
		text-align: center;
		font: normal normal normal 15px/15px Rockwell;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
	
		position: relative;
		top: 5px;
		
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AC7F46;
		opacity: 1;
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
		top: 15px;

	}

	.topProduct h3{
	
		font: normal normal normal 15px/40px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		text-align: left;
		
	}
	.topProduct .productsImg{
		text-align: center;
		margin-left: 10px;
		
	}
	.topProduct .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 15px/8px Sitka Small;
	}
	.topProduct img{
		width: 100%;
		height: 270px;
		
		

	}
	.topProduct .seeMoreProduct p{
		text-align: center;
	
		font: normal normal normal 20px/20px Sitka Small;
	}



	.sale h3{
		text-align: left;
		font: normal normal normal 15px/30px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
	}

	.sale #salePromote{
		
		width: 100%;
		height: 5rem;
		margin-bottom: 25px;

	}
	.sale .saleImgPromote{
	
		text-align: center;
		
	}
	.sale .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 15px/8px Sitka Small;
	}
	.sale .saleImg {
		width: 100%;
		height: 200px;
	}


}
/* screen < 600 is tablet */


@media screen and (max-width: 900px) and (min-width: 576px){


	.leftAdCompany #slogan{
		text-align: left;	

		border: 1px #AC7F46;

		padding-top: 150px;

		font: normal normal normal 15px/15px Sitka Small;
		/*font-weight: normal;*/
		/*Add fornt sitka Small but itsn't working.*/
		color: #8e7860;
		opacity: 1;	
		margin-left: 15px;
		margin-right: 10px;
	}
	.leftAdCompany .businessCustomer{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AA8803;
		opacity: 1;
		padding: 5px;	
		position: relative;
		top: 45px;
		margin-bottom: 4px;

		text-align: center;
		color: white;
		/*padding: 1px;*/
		font-size: 15px;
		margin-left: 15px;
		margin-right: 10px;
	}
	
	.Cert p{
		text-align: center;
		font: normal normal normal 15px/20px Rockwell;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		
		position: relative;
		top: 5px;
		left: 35px;
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 8px solid #AC7F46;
		opacity: 1;


		margin-right: 45px;
		position: relative;
		top: 15px;

	}

	.rightAdCompany img{
		width: 100%;
		height: 300px;
	}
	.topProduct h3{
		margin-left: 15px;

		text-align: left;
	
		font: normal normal normal 14px/50px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		
	}
	.topProduct .productsImg{
		text-align: center;
	}
	.topProduct .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
	
		font: normal normal normal 15px/8px Sitka Small;
	}
	.topProduct img{
		width: 100%;
		height: 220px;
		padding: 5px;

	}
	.topProduct .seeMoreProduct p{
		text-align: center;
	
		font: normal normal normal 20px/20px Sitka Small;
	}





	.sale h3{
		text-align: left;
		font: normal normal normal 20px/35px Sitka Small;
		
		letter-spacing: 0px;
		margin-bottom: 10px;
		color: #AC7F46;
		opacity: 1;
		margin-left: 15px;
	}

	.sale #salePromote{
		text-align: center;
		width: 100%;
		height: 7rem;
		padding: 5px;
		margin-bottom: 25px;

	}
	.sale .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 15px/8px Sitka Small;
;
	}
	.sale .saleImgPromote{
		text-align: center;
	}
	.sale .saleImg {
		width: 100%;
		padding: 5px;

		height: 200px;
	}

}

@media screen and (max-width: 1250px) and (min-width: 900px){


	
	.leftAdCompany #slogan{
		text-align: left;	

		border: 1px #AC7F46;

		padding-top: 185px;

		font: normal normal normal 20px/20px Sitka Small;
		/*font-weight: normal;*/
		/*Add fornt sitka Small but itsn't working.*/
		color: #8e7860;
		opacity: 1;	
		margin-left: 15px;
		margin-right: 10px;
	}
	.leftAdCompany .businessCustomer{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AA8803;
		opacity: 1;	
		position: relative;
		top: 10px;
		margin-bottom: 4px;

		text-align: center;
		color: white;
		/*padding: 1px;*/
		font-size: 20px;
		padding: 8px;
		margin-left: 15px;
		margin-right: 10px;
	}
	
	.Cert p{
		text-align: center;
		font: normal normal normal 25px/25px Rockwell;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		
		position: relative;
		top: 5px;
		left: 30px;
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 8px solid #AC7F46;
		opacity: 1;


		margin-right: 45px;
		position: relative;
		top: 15px;

	}

	.rightAdCompany img{
		width: 100%;
		height: 400px;
	}
	.topProduct h3{
		margin-left: 15px;
		
		text-align: left;
	
		font: normal normal normal 20px/50px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		
	}
	.topProduct .productsImg{
		text-align: center;
	}
	.topProduct .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
	
		font: normal normal normal 25px/8px Sitka Small;
	}
	.topProduct img{
		width: 100%;
		height: 300px;
		padding: 12px;


	}
	.topProduct .seeMoreProduct p{
		text-align: center;
	
		font: normal normal normal 25px/20px Sitka Small;
	}





	.sale h3{
		text-align: left;
		font: normal normal normal 20px/35px Sitka Small;
		
		letter-spacing: 0px;
		margin-bottom: 10px;
		color: #AC7F46;
		opacity: 1;
		margin-left: 15px;
		
	}

	.sale #salePromote{
		text-align: center;
		width: 100%;
		height: 10rem;
		padding: 12px;

		margin-bottom: 35px;

	}
	.sale .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 25px/8px Sitka Small;
;
	}
	.sale .saleImgPromote{
		text-align: center;
	}
	.sale .saleImg {
		width: 100%;

		height: 300px;
		padding: 12px;

	}

}
@media screen and (max-width: 1740px) and (min-width: 1250px){
	.leftAdCompany #slogan{
		text-align: left;	

		border: 1px #AC7F46;

		padding-top: 230px;

		font: normal normal normal 28px/30px Sitka Small;
		/*font-weight: normal;*/
		/*Add fornt sitka Small but itsn't working.*/
		color: #8e7860;
		opacity: 1;	
		margin-left: 15px;
		margin-right: 10px;
		position: relative;

	
	}
	.leftAdCompany .businessCustomer{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AA8803;
		opacity: 1;	
		position: relative;
		top: 10px;
		margin-bottom: 4px;

		text-align: center;
		color: white;
		/*padding: 1px;*/
		font-size: 28px;
		margin-left: 15px;
		margin-right: 10px;
	
	}
	.rightAdCompany img{
		width: 100%;
		height: 500px;
	}
	.Cert .nav-link{
		
	}
	.Cert p{
		text-align: center;
		font: normal normal normal 28px/28px Rockwell;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		
		position: relative;
		top: 5px;
		left: 30px;
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 8px solid #AC7F46;
		opacity: 1;


		margin-right: 45px;
		position: relative;
		top: 15px;

	}
	.topProduct h3{

		text-align: left;
	
		font: normal normal normal 28px/120px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		margin-left: 15px;
		
	}
	.topProduct .productsImg{
		text-align: center;
	}
	.topProduct .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
	
		font: normal normal normal 28px/8px Sitka Small;
	}
	.topProduct img{
		width: 100%;
		height: 450px;
		padding: 15px;

	}
	.topProduct .seeMoreProduct p{
		text-align: center;
	
		font: normal normal normal 25px/20px Sitka Small;
	}





	.sale h3{
		text-align: left;
		font: normal normal normal 28px/120px Sitka Small;
		
		letter-spacing: 0px;
		margin-bottom: 10px;
		color: #AC7F46;
		opacity: 1;
		margin-left: 15px;
	}

	.sale #salePromote{
		text-align: center;
		width: 100%;
		height: 10rem;
		padding: 15px;
		margin-bottom: 45px;

	}
	.sale .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 28px/8px Sitka Small;
;
	}
	.sale .saleImgPromote{
		text-align: center;
	}
	.sale .saleImg {
		width: 100%;
		padding: 15px;

		height: 450px;
	}


}

@media screen and (min-width: 1740px){
	
	.leftAdCompany #slogan{
		text-align: left;	

		border: 1px #AC7F46;

		padding-top: 270px;

		font: normal normal normal 38px/38px Sitka Small;
		/*font-weight: normal;*/
		/*Add fornt sitka Small but itsn't working.*/
		color: #8e7860;
		margin-left: 15px;
		margin-right: 10px;
		opacity: 1;	
	}
	.leftAdCompany .businessCustomer{
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 1px solid #AA8803;
		opacity: 1;	
		position: relative;
		top: 10px;
		margin-bottom: 4px;

		text-align: center;
		color: white;
		/*padding: 1px;*/
		font-size: 30px;
		margin-left: 15px;
		margin-right: 10px;
	}

	.Cert p{
		text-align: center;
		font: normal normal normal 20px/20px Rockwell;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		
		position: relative;
		top: 5px;
		left: 30px;
		background: #AC7F46 0% 0% no-repeat padding-box;
		border: 8px solid #AC7F46;
		opacity: 1;


		margin-right: 45px;
		position: relative;
		top: 15px;

	}

	.rightAdCompany img{
		width: 100%;
		height: 600px;
	}
	.topProduct h3{

		text-align: left;
		margin-left: 15px;
	
		font: normal normal normal 38px/150px Sitka Small;
		letter-spacing: 0px;
		color: #AC7F46;
		opacity: 1;
		
	}
	.topProduct .productsImg{
		text-align: center;
	}
	.topProduct .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
	
		font: normal normal normal 38px/38px Sitka Small;
	}
	.topProduct img{
		width: 100%;
		height: 500px;
		padding: 20px;

	}
	.topProduct .seeMoreProduct p{
		text-align: center;
	
		font: normal normal normal 38px/20px Sitka Small;
	}





	.sale h3{
		text-align: left;
		font: normal normal normal 38px/150px Sitka Small;
		
		letter-spacing: 0px;
		margin-bottom: 10px;
		color: #AC7F46;
		opacity: 1;
		margin-left: 15px;
	}

	.sale #salePromote{
		text-align: center;
		width: 100%;
		height: 15rem;
		margin-bottom: 65px;
		padding: 20px;

	}
	.sale .card-title{

		text-align: center;
		border: 1px #AC7F46;
		color:#AC7F46;
		font: normal normal normal 38px/38px Sitka Small;
;
	}
	.sale .saleImgPromote{
		text-align: center;
	}
	.sale .saleImg {
		width: 100%;

		height: 500px;
		padding: 20px;
	}

}
