
.menu{
	width: 100%;
	height: auto;
	float: left;


}
.menuLeft{
	width: 15%;
	height: auto;
	float: left;
}
.menuRight{
	width: 85%;
	height: auto;
	float: left;

}
/* screen < 480 is smart phone */
@media screen and (max-width: 480px){
	.navbar-brand img{
		width: 80px;
		height: 80px;
		text-align: left;
		position: relative;
		right: 7px;
		float: right;

	
	}
	.navbar .keywords{

    	color: #707070;
    	font-size: 12px;
    	text-align: left;
        letter-spacing: 0px;
    	opacity: 1;
    	font-family: Rockwell;
    	letter-spacing: 0;
    	padding: 10px;
	}
}


@media screen and (max-width: 768px) and (min-width: 480px){
	.navbar-brand img{
		width: 150px;
		height: 150px;
		position: relative;
		
		left: -8px;
		
	
	}
	.navbar .keywords{

    	color: #707070;
    	font-size: 14px;
    	text-align: left;
        letter-spacing: 0px;
    	opacity: 1;
    	font-family: Rockwell;
    	letter-spacing: 0;
    	padding: 10px;
	}

}

@media screen and (max-width: 1440px) and (min-width: 768px){
	.navbar-brand img{
		width: 180px;
		height: 180px;
		position: relative;
		top: 35px;
		opacity: 1;

/*		left: -14px;
*/

	
	}
	.navbar .nav-item{
		padding-left: 5px;
	}

	.navbar .keywords{
    	color: #707070;
    	font: normal normal normal 2.3vw/47px Rockwell;
    
    	text-align: left;
        letter-spacing: 0px;
    	opacity: 1;
    	font-family: Rockwell;
    	letter-spacing: 0;
    	padding: 35px;
    	position: relative;
    	left: 20px;
    
    	
    	
	}
}
@media screen and (max-width: 1740px) and (min-width: 1440px){
	.navbar-brand img{
		width: 200px;
		height: 200px;
		position: relative;
		top: 35px;
		opacity: 1;

/*		left: -14px;
*/

	
	}
	.navbar .nav-item{
	
	}

	.navbar .keywords{
		/*font-size: 2vw;*/




    	color: #707070;
    	font: normal normal normal 2.1vw/47px Rockwell;
    
    	text-align: left;
        letter-spacing: 0px;
    	opacity: 1;
    	font-family: Rockwell;
    	letter-spacing: 0;
    	padding: 70px;
    	position: relative;
    	left: 20px;
    
    	
    	
	}
}
@media screen and (min-width: 1740px) {


	.navbar-brand img{
		width: 250px;
		height: 250px;
		position: relative;
		top: 35px;
		opacity: 1;

/*		left: -14px;
*/

	
	}
	.navbar .nav-items{
		padding: 80px;



	}

	.navbar .keywords{
		/*font-size: 2vw;*/



    	color: #707070;
    	font: normal normal normal 2.2vw/47px Rockwell;
    
    	text-align: left;
        letter-spacing: 0px;
    	opacity: 1;
    	font-family: Rockwell;
    	letter-spacing: 0;
    	padding: 75px;
    	
    	
    	
	}
}