{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//db.onlinewebfonts.com/c/4cac62b9f31046456d6fa8a29b0d9462?family=Sitka+Small" rel="stylesheet" type="text/css"/>
    <link href="{% static 'page/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'page/forB2BCustomer.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>forB2BCustomer</title>
  </head>
  <body>
    {% include "page/navbar.html" %}
    <div class="adCompany">
      <div class="leftAdCompany container-fluid">
        <div class="promoteModels">
              <p id="slogan"><b>Slogan or Short introduction here bla bla bla</b></p>
              <div class="businessModels">
                <p class="businessCustomer"><b>Our Brochure</b></p>
               
              </div>
        </div>
      </div>
      <div class="rightAdCompany" >
         <img class="img-fuild" src="{%static 'data_company/page/mainpage/mainpage.jpg'%}">
      </div>
    </div>
    <div class="container-fluid Cert">
    
        <nav class="nav nav-pills nav-fill">
           
            <a class="nav-item nav-link" href="#"><span><p>Cer 1</p></span></a>
            <a class="nav-item nav-link" href="#"><span><p>Cer 2</p></span></a>
            <a class="nav-item nav-link" href="#"><span><p>Cer 3</p></span></a>
        </nav>
         
    </div>
    <div class="topProduct container-fluid">
      <div class="row">
        <div class="col-md-12">
            <h3><b>OUR PRODUCTS</b></h3>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="col-sm-4 productsImg mx-auto" >
            
            <img src="{%static 'data_company/page/mainpage/products1.jpg'%}" >
        
            <div class="card-body">
                  <h3 class="card-title">Products 1</h3>         
            </div>
        </div>
        <div class="col-sm-4 mx-auto productsImg" >
            
            <img src="{%static 'data_company/page/mainpage/product3.jpg'%}" >
   
           
            <div class="card-body">
                <h3 class="card-title">Products 2</h3>
            </div>
        </div>
        <div class="col-sm-4 mx-auto productsImg" >
           
            <img src="{%static 'data_company/page/mainpage/product2.jpg'%}" >
            <div class="card-body">
                <h3 class="card-title">Products 3</h3>            
            </div>
        </div>
      </div>
      <div class="row seeMoreProduct">
          <div class="col-md-12 mx-auto">
              <p>- See more products -</p>
          </div>
      </div>
    </div>
    <div class="sale container-fluid">
            <div class="row ">
              <div class="col-md-12">
                <h3><b>YOUR BUYING PROCESS</b></h3>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="col-md-12 mx-auto" style="text-align: center;">
                  <img id='salePromote' class="img-fuild" src="{%static 'data_company/page/mainpage/sales.png'%}">
              </div>
            </div>
            <div class="row  mx-auto">
                <div class="col-sm-4  mx-auto saleImgPromote" >
                  
                    <img class="saleImg"  src="{%static 'data_company/page/mainpage/products1.jpg'%}" >
                   
                    <div class="card-body">
                          <h3 class="card-title">Products 1</h3>
                                
                    </div>
                </div>
                <div class="col-sm-4 mx-auto saleImgPromote" >
                    
                    <img class="saleImg" src="{%static 'data_company/page/mainpage/product3.jpg'%}" >
           
                   
                    <div class="card-body">
                        <h3 class="card-title">Products 2</h3>
                    </div>
                </div>
                <div class="col-sm-4 mx-auto saleImgPromote" >
                   
                        <img class="saleImg" src="{%static 'data_company/page/mainpage/product2.jpg'%}" >
                   
                    <div class="card-body">
                        <h3 class="card-title">Products 3</h3>            
                    </div>
                </div>
            </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>