{% load static %}
<div class="menu">
     
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" >
              <img class="img-fuild"src="{%static 'Logo/logo.png'%}">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mg-right" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <p class="keywords">Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link 
                {% if request.path == about_us %} active{% endif %}" 
                href="{% url 'about_us' %}">
                  <p class="keywords">About us</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">
                  <p class="keywords">Products</p>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'forB2BCustomer' %}"><p class="keywords">For B2B customers</p></a>
              </li>
   

            </ul>
          </div>
        </nav>

</div>